[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
molecule = "*"
molecule-vagrant = "*"
python-vagrant = "*"

[dev-packages]
black = "*"
