location:
  source_directories:
    - /srv

  repositories:
    - "{{ borg_backup_target }}"

  exclude_patterns:
    - '*/tmp/*'
    - '*/cache/*'

  exclude_if_present:
    - .nobackup

storage:
  encryption_passphrase: "{{ borg_backup_passphrase }}"
  compression: auto,zstd
  ssh_command: 'ssh -p {{ borg_backup_port }} -i /home/{{ ansible_user }}/.ssh/id_borg'
  archive_name_format: '{hostname}-{now:%Y-%m-%dT%H:%M:%S.%f}'

retention:
  keep_hourly: 2
  keep_daily: 7
  keep_weekly: 4
  keep_monthly: 6
  keep_yearly: 1
  prefix: '{hostname}-'

consistency:
  checks:
    - repository
    - archives
  check_last: 3

hooks:
  before_backup:
    - "nice ionice /usr/local/sbin/dump-databases"
