#!/bin/bash -e

if [ "$1" == '--cron' ]; then
  exec 3>&1 4>&2
  trap 'exec 2>&4 1>&3' 0 1 2 3
  exec 1>>/var/log/borg-backup.log 2>&1
fi

. /etc/borg/config

export BORG_HOSTNAME_IS_UNIQUE=1

sudo nice ionice borg create --stats --verbose --exclude '/sys' --exclude '/proc' --exclude '/tmp' --exclude '/var/tmp' --exclude '/backup'  {{ borg_backup_target }}::`hostname`-`date +%Y-%m-%d.%H` '/srv'
