#!/bin/bash

BACKUP_BASE_DIR="{{ borg_backup_source_path }}/backup"
mkdir -p "$BACKUP_BASE_DIR"

BACKUP_DIR="$BACKUP_BASE_DIR/databases/"

{% raw %}
CONTAINERS="$(docker ps -f expose=3306 --format "{{.Names}}")"
{% endraw %}

for container in $CONTAINERS; do
    CONTAINER_WORKING_DIR=$(docker inspect "$container" | jq -r '.[0].Config.Labels."com.docker.compose.project.working_dir"')

    PASSWORD=$(grep MYSQL_ROOT_PASSWORD $CONTAINER_WORKING_DIR/.env)
    PASSWORD=${PASSWORD#*=}
    PASSWORD=$(echo "$PASSWORD" | sed -e 's/^"//' -e 's/"$//')

    CONTAINER_BACKUP_DIR="$BACKUP_DIR/$container"
    mkdir -p "$CONTAINER_BACKUP_DIR"

    DATABASES=$(docker exec "$container" mysql --batch --skip-column-names -u root --password="$PASSWORD" -e "SHOW DATABASES;")
    echo "exporting mysql: $container -->" $DATABASES
    for database in $DATABASES; do
        docker exec "$container" mysqldump \
            --default-character-set=utf8\
            --password="$PASSWORD"\
            --add-drop-database\
            --add-drop-table\
            --add-locks\
            --complete-insert\
            --databases\
            --extended-insert\
            --lock-all-tables\
            --create-options\
            --disable-keys\
            --quick\
            --order-by-primary\
            --set-charset\
            --tz-utc\
        $database > "$CONTAINER_BACKUP_DIR/$database.sql"
    done
done


{% raw %}
CONTAINERS="$(docker ps -f expose=5432 --format "{{.Names}}")"
{% endraw %}

for container in $CONTAINERS; do
    CONTAINER_WORKING_DIR=$(docker inspect "$container" | jq -r '.[0].Config.Labels."com.docker.compose.project.working_dir"')

    PASSWORD=$(grep POSTGRES_PW $CONTAINER_WORKING_DIR/.env)
    PASSWORD=${PASSWORD#*=}

    DBUSER=$(grep POSTGRES_USER $CONTAINER_WORKING_DIR/.env)
    DBUSER=${DBUSER#*=}

    CONTAINER_BACKUP_DIR="$BACKUP_DIR/$container"
    mkdir -p "$CONTAINER_BACKUP_DIR"

    echo "exporting postgres: $container"

    docker exec -i -e PGPASSWORD="$POSTGRES_PW" $container pg_dumpall --user="$DBUSER" > "$CONTAINER_BACKUP_DIR/pg_dumpall.sql"

done
