#!/bin/bash
#First argument is container name

BACKUP_BASE_DIR="{{ borg_backup_source_path }}/backup/databases"
container=$1
CONTAINER_WORKING_DIR=$(docker inspect "$container" | jq -r '.[0].Config.Labels."com.docker.compose.project.working_dir"')


PASSWORD=$(grep MYSQL_ROOT_PASSWORD $CONTAINER_WORKING_DIR/.env)
PASSWORD=${PASSWORD#*=}
PASSWORD=$(echo "$PASSWORD" | sed -e 's/^"//' -e 's/"$//')

DATABASE_FILES=$(ls -I information_schema.sql -I performance_schema.sql $BACKUP_BASE_DIR/$container)

for database in $DATABASE_FILES; do
    echo "  Restoring from: '$BACKUP_BASE_DIR/$container/$database'"
    docker exec -i "$container" mysql --user root --password="$PASSWORD" "${database%.*}" < "$BACKUP_BASE_DIR/$container/$database"
done
