#!/bin/bash
# First argument is container name
BACKUP_BASE_DIR="{{ borg_backup_source_path }}/backup/databases/"
container=$1

CONTAINER_WORKING_DIR=$(docker inspect "$container" | jq -r '.[0].Config.Labels."com.docker.compose.project.working_dir"')

PASSWORD=$(grep MYSQL_ROOT_PASSWORD $CONTAINER_WORKING_DIR/.env)
PASSWORD=${PASSWORD#*=}
PASSWORD=$(echo "$PASSWORD" | sed -e 's/^"//' -e 's/"$//')

DBUSER=$(grep POSTGRES_USER $CONTAINER_WORKING_DIR/.env)
DBUSER=${DBUSER#*=}

DATABASE_FILES=$(ls $BACKUP_BASE_DIR/$container)
echo "Running Restore for $container"
for database in $DATABASE_FILES; do
    echo "  Restoring from: '$BACKUP_BASE_DIR/$container/$database'"
    cat $BACKUP_BASE_DIR/$container/$database | docker exec -i -e PGPASSWORD=$PASSWORD $container psql -U $DBUSER
done


