# edit and save as config.env

# Set to a randomly generated 16 bytes string
SECRET_KEY={{ mailu_secret_key_16char }}

# Subnet of the docker network. This should not conflict with any networks to which your system is connected. (Internal and external!)
SUBNET={{ mailu_subnet }}

# Main mail domain
DOMAIN={{ DOMAINNAME }}

# Hostnames for this server, separated with comas
HOSTNAMES={{ DOMAINNAME }},mailu.{{ DOMAINNAME }}

# Choose how secure connections will behave (value: letsencrypt, cert, notls, mail, mail-letsencrypt)
TLS_FLAVOR=mail

# Authentication rate limit (per source IP address)
AUTH_RATELIMIT=10/minute;1000/hour

# Website name
SITENAME={{ mailu_sitename }}

# Linked Website URL
WEBSITE=https://{{ DOMAINNAME }}

# ADMIN
INITIAL_ADMIN_ACCOUNT={{ mailu_initial_admin_account }}
INITIAL_ADMIN_DOMAIN={{ DOMAINNAME }}
INITIAL_ADMIN_PW={{ mailu_initial_admin_password }}
INITIAL_ADMIN_MODE=update