# edit and save as config.env

# Set to a randomly generated 16 bytes string
SECRET_KEY=replacesecretkey

# Subnet of the docker network. This should not conflict with any networks to which your system is connected. (Internal and external!)
SUBNET={{ mailu_subnet }}

# Main mail domain
DOMAIN={{ DOMAINNAME }}

# Hostnames for this server, separated with comas
HOSTNAMES={{ DOMAINNAME }},mailu.{{ DOMAINNAME }}

# Choose how secure connections will behave (value: letsencrypt, cert, notls, mail, mail-letsencrypt)
TLS_FLAVOR=mail

# Authentication rate limit (per source IP address)
AUTH_RATELIMIT=10/minute;1000/hour

# Website name
SITENAME=MHN Mailu

# Linked Website URL
WEBSITE=https://{{ DOMAINNAME }}

# ADMIN
INITIAL_ADMIN_ACCOUNT=admin
INITIAL_ADMIN_DOMAIN=admin@{{ DOMAINNAME }}
INITIAL_ADMIN_PW=secret
INITIAL_ADMIN_MODE=update