# edit and save as mailu.env

# Set to a randomly generated 16 bytes string
SECRET_KEY={{ mailu_secret_key_16char }}

# Main mail domain
DOMAIN={{ DOMAINNAME }}

# Hostnames for this server, separated with comas
HOSTNAMES={{ mailu_hostnames }}

# Choose how secure connections will behave (value: letsencrypt, cert, notls, mail, mail-letsencrypt)
TLS_FLAVOR=mail

# Authentication rate limit (per source IP address)
AUTH_RATELIMIT=10000/minute;10000/hour

# Website name
SITENAME={{ mailu_sitename }}

# Linked Website URL
WEBSITE=https://{{ DOMAINNAME }}

# ADMIN
INITIAL_ADMIN_ACCOUNT={{ mailu_initial_admin_account }}
INITIAL_ADMIN_DOMAIN={{ DOMAINNAME }}
INITIAL_ADMIN_PW={{ mailu_initial_admin_password }}
INITIAL_ADMIN_MODE=update

###################################
# Common configuration variables
###################################

# Subnet of the docker network. This should not conflict with any networks to which your system is connected. (Internal and external!)
SUBNET={{ mailu_subnet }}

# Postmaster local part (will append the main mail domain)
POSTMASTER=admin

# Opt-out of statistics, replace with "True" to opt out
DISABLE_STATISTICS=True

###################################
# Optional features
###################################

# Expose the admin interface (value: true, false)
ADMIN=true

# Choose which webmail to run if any (values: roundcube, rainloop, none)
WEBMAIL=roundcube

# Dav server implementation (value: radicale, none)
WEBDAV=none

# Antivirus solution (value: clamav, none)
ANTIVIRUS=clamav

###################################
# Mail settings
###################################

# Message size limit in bytes
# Default: accept messages up to 50MB
# Max attachment size will be 33% smaller
MESSAGE_SIZE_LIMIT=50000000


# Fetchmail delay
FETCHMAIL_DELAY=600

# Recipient delimiter, character used to delimiter localpart from custom address part
RECIPIENT_DELIMITER=+

# DMARC rua and ruf email
DMARC_RUA=admin
DMARC_RUF=admin


###################################
# Web settings
###################################

# Path to redirect / to
WEBROOT_REDIRECT=/webmail

# Path to the admin interface if enabled
WEB_ADMIN=/admin

# Path to the webmail if enabled
WEB_WEBMAIL=/webmail

###################################
# Advanced settings
###################################

# Log driver for front service. Possible values:
# json-file (default)
# journald (On systemd platforms, useful for Fail2Ban integration)
# syslog (Non systemd platforms, Fail2Ban integration. Disables `docker-compose log` for front!)
# LOG_DRIVER=json-file

# Docker-compose project name, this will prepended to containers names.
COMPOSE_PROJECT_NAME=mailu

# Default password scheme used for newly created accounts and changed passwords
# (value: BLF-CRYPT, SHA512-CRYPT, SHA256-CRYPT, MD5-CRYPT, CRYPT)
PASSWORD_SCHEME=BLF-CRYPT

# Log level threshold in start.py (value: CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET)
LOG_LEVEL={{ mailu_log_level }}

###################################
# Database settings
###################################
DB_FLAVOR=sqlite
