COMPOSE_FILE=docker-compose.base.yml:docker-compose.dev.yml
TZ=Europe/Berlin
DOMAINNAME={{ DOMAINNAME }}
TRAEFIK_SUBNET={{ traefik_subnet }}
VOLUMES_DIR={{ stack_volume_folder }}
LOG_LEVEL={{ traefik_log_level }}
CERT_EMAIL={{ traefik_cert_mail }}
CA_SERVER={{ traefik_ca_server }}
